# replace <port>, <your_db>, <your_username>, <your_password> with correct values and rename file to .env

SERVER_PORT=<port>
DB_URL=jdbc:postgresql://localhost:5432/<your_db>
DB_USERNAME=<your_username>
DB_PASSWORD=<your_password>
